ResumeSniper.json
{
  "name": "ResumeSniper",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-upload",
        "options": {}
      },
      "id": "2ac27cdb-63a1-4660-b2c4-bf68e5b14381",
      "name": "Resume Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1300,
        -720
      ],
      "webhookId": "resume-upload"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.email }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "=  {{ $json.body.resumeContent }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.jobDescription }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "103e5dde-2757-4232-b595-c2fdaa18c062",
      "name": "Validate Input Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -980,
        -720
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.body.email }}"
            }
          ]
        }
      },
      "id": "75c8d2cb-4aee-420d-880c-a335bfe660cc",
      "name": "Check Free Trial Usage",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -620,
        -740
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "09yc8ytHkLrcvGbA",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.free_resume_used}}"
            }
          ]
        }
      },
      "id": "adf2f03c-15b5-4e23-83e0-850177db36cf",
      "name": "Check Free Trial Eligibility",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -220,
        -720
      ]
    },
    {
      "parameters": {
        "fromEmail": "adamhoemberg@gmail.com",
        "toEmail": "={{$json.email}}",
        "subject": "Your Optimized Resume from ResumeSniper",
        "text": "=Hello!\n\nYour ATS-optimized resume is ready!\n\n{{$json.response}}\n\nThis resume has been tailored for your job application.\n\nGood Luck with the interview,\nResumeSniper Team",
        "options": {}
      },
      "id": "522e3c69-d4d2-4b0b-8cf9-7ab910a106d4",
      "name": "Send Optimized Resume Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        740,
        -280
      ],
      "credentials": {
        "smtp": {
          "id": "dEwJq2HcGZW5H36C",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{$json.email}}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "free_resume_used",
              "fieldValue": "true"
            },
            {
              "fieldId": "last_resume_date",
              "fieldValue": "={{new Date().toISOString()}}"
            }
          ]
        }
      },
      "id": "b53d006c-72f6-48c7-be71-def211012ffd",
      "name": "Update Free Trial Usage",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        920,
        -60
      ],
      "credentials": {
        "supabaseApi": {
          "id": "09yc8ytHkLrcvGbA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"message\": \"Your optimized resume has been sent to {{$json.email}}!\"}",
        "options": {}
      },
      "id": "9881bfff-1544-44d8-aa4a-467aca199c86",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": false, \"message\": \"Missing required fields: email, resume, or job description\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "b105a819-25ce-4bc7-9787-0f42b26f69f1",
      "name": "Validation Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1000,
        -440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": false, \"message\": \"You've already used your free resume. Check out our paid plans!\", \"redirect\": \"/pricing\"}",
        "options": {
          "responseCode": 402
        }
      },
      "id": "f41a0e0d-e780-4479-924d-6996dcec1cfe",
      "name": "Free Trial Already Used",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -60,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract resume content from file\nconst resumeFile = items[0].json.resumeFile;\n\n// In a real implementation, you'd extract text from PDF/DOCX\n// For now, assuming text content is provided\nconst resumeContent = items[0].json.resumeContent || \"Resume content would be extracted here\";\n\nreturn {\n  json: {\n    ...items[0].json,\n    resumeContent: resumeContent,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "ee2a7409-9e32-447b-8e27-d7eef34269ce",
      "name": "Process Resume File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        160,
        -720
      ]
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "type": "AIMessagePromptTemplate",
              "message": "=You are a master resume writer specializing in ATS optimization.    INSTRUCTIONS:   - Do NOT lie or over-embellish   - Create an ATS-optimized resume that matches the job requirements   - Use keywords from the job description naturally   - Maintain professional formatting   - Keep the same contact information   - Focus on relevant experience for this specific job    ORIGINAL RESUME:   {{$json.resumeContent}}    JOB DESCRIPTION:   {{$json.jobDescription}}    Create an optimized resume that will get past ATS systems and land an interview:"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        400,
        -440
      ],
      "id": "073573cc-6d0f-4926-9538-79a7f719205e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-sonnet-20241022",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 3.5 (New)"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        400,
        -160
      ],
      "id": "940a6465-e59d-457d-9e55-ad2e04141fe5",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "q2s2KJn1GQj3PsHw",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "users",
        "dataToSend": "={\n    \"email\": \"{{$json.email}}\",\n    \"free_resume_used\": false,\n    \"created_at\": \"{{new Date().toISOString()}}\""
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -420,
        -740
      ],
      "id": "20bd9813-6f3e-4102-9590-5814b97230e8",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "09yc8ytHkLrcvGbA",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "Check Free Trial Usage": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "Resume Upload Webhook": {
      "main": [
        [
          {
            "node": "Validate Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Data": {
      "main": [
        [
          {
            "node": "Check Free Trial Usage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Free Trial Usage": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Free Trial Eligibility": {
      "main": [
        [
          {
            "node": "Process Resume File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Free Trial Already Used",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Optimized Resume Email": {
      "main": [
        [
          {
            "node": "Update Free Trial Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Free Trial Usage": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send Optimized Resume Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Resume File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Check Free Trial Eligibility",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "21320c4e-8e76-43d7-b916-ad63e805f6fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b5154900ddfa644cf2213a830eec1aa29b0ca7ee0f71e1afab854d81aea7e98"
  },
  "id": "eyvvONx54Wsjlv33",
  "tags": []
}